@import url(./global.css);
.Category-parent{
    padding: 5px 10px;
    align-items: left;
    background-color: var(--primaryBg2);
    height: fit-content;
    margin-bottom: 5px;
}
.Cards-container{
    padding:inherit;
    justify-content: left;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 350px;
}
.Category-wrapper{
    background-color: var(--white);
    width: var(--categoryCardW);
    height: fit-content;
    margin: 0 5px;
}
.Category-img{
    max-width: var(--categoryCardW);
}
.Category-label{
    margin:5px;
}