:root{
    --primaryBg:#cfcfcf;
    --primaryBg2:#e7e7e7;
    --grey:#a8a8a8;
    --white:#ffffff;
    --black:#000000;
    --primaryFont:sans-serif;
    --categoryCardW:150px;
    --categoryCardH:200px;
    --productCardW:200px;
    --productCardH:100px;
    --reviewCardW:300px;
    --reviewCardH:260px;
    --borderRadius-s:10px;
}
*{
    box-sizing: border-box;
    font-family: var(--primaryFont);
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: var(--primaryBg);
}
h1,h2,h3,h4,h5,h6{
    margin: 5px;
}
img{
    max-width: 100%;
}
button{
    width: auto;
}

#NavFunc{
    padding:10px;
    background-color: var(--white);
}
#Search-Container{
    padding:5px 0;
}
#Search{
    width: 95%;
    height: 40px;
    font-size: large;
    outline: black;
    text-indent: 30px;
    border: none;
}
.fl{
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.spRow{
    justify-content: space-between;
}
.evRow{
    justify-content: space-evenly;
}
.cenRow{
    justify-content: center;
}
.vCtr{
    align-items: center;
}
.no_wrap{
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
}
.review{
    width:var(--reviewCardW);
    height: var(--reviewCardH);
    max-width: var(--reviewCardW);
    max-height: var(--reviewCardH);
}
.fit{
    width:100%;
}
.m-sq{
    width:50px ;
    height: 50px;
}
.s-sq{
    width: 40px;
    height: 40px;
    margin: 0 5px;
}
.m-rec{
    width: 50px;
    height: 40px;
}
.txt-rec{
    width: fit-content;
    padding: 10px;
}
.b-sh{
    box-shadow: 5px 0 5px #080808b2;
}
.btn{
    border: none;
    cursor: pointer;
}
.card{
    background-color: var(--white);
    margin: 2px 0;
    padding: 10px;
}
.clearBg{
    background-color:transparent;
}
.sm-bgImg{
    background-size:25px 25px;
}
.ctr-bg{
    background-position:center center;
}
.lft-bg{
    background-position: left center;
}
.searchImg{
    background-image: url(../images/search.svg);
    background-size: 25px 25px;
    background-position: left center;
}
.n-wrap{
    text-wrap: nowrap;
}